<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.funchem"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.photoquiz.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.photoquiz.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.funchem.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.photoquiz.easyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.funchem.EASYACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.photoquiz.PlayActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.funchem.PLAYACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.photoquiz.Que2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.funchem.QUE2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.photoquiz.Que3"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.funchem.QUE3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.photoquiz.Que4"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.funchem.QUE4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.photoquiz.Que5"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.funchem.QUE5" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.photoquiz.Que6"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.funchem.QUE6" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.photoquiz.Que7"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.funchem.QUE7" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.photoquiz.Que8"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.funchem.QUE8" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.photoquiz.Que9"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.funchem.QUE9" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.photoquiz.Que10"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.funchem.QUE10" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.photoquiz.Que11"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.funchem.QUE11" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.photoquiz.Que12"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.funchem.QUE12" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>